@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  font-family: Poppins;
}
body {
  background-color: #f9f9f9;
}
/* navbar */
#navbar:hover {
  color: grey;
}
/* card */
#card h4 {
  padding-top: 100px;
  text-align: center;
}
#card .link {
  color: black;
  text-decoration: none;
}
#card .card {
  padding-top: 20px;
}
#card .card {
  border-radius: 20px;
  margin-top: 30px;
}
#card h6 {
  color: grey;
}
/* footer */
p {
  text-align: center;
}
